// General styles
// ------------------------------------
* {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h1,
h2,
h3 {
  margin-top: .5em;
  text-transform: uppercase;
  color: $cruk-black;
  font-weight: $header-font-weight;
}

.cruk-rfl {
  .body,
  .container {
    background: $cruk-magenta;
  }
}

.cruk-rfl-schools {
  .body,
  .container {
    background: $cruk-lightblue;
  }
}

.su2c {
  .body,
  .container {
    background: $su2c-orange;
  }

  .preheader + .spacer {
    /* Fix this */
    background: $white;
  }

  .container.header {
    background: $white;
    width: 100%;

    .row {
      max-width: 600px;
      margin: auto;
    }

    .logo-su2c {
      margin-left: 20px;
    }

    .logo-cruk-c4 {
      margin-right: 20px;
    }
  }

  .container.hero {
    width: 100%;

    .row.hero {
      max-width: 600px;
      margin: auto;
    }
  }

  .transactional-content {
    margin-top: 18px;
  }

  .events {
    .event-calendar-wrapper {
      background: $su2c-orange;
    }

    .event-info a {
      color: $su2c-orange;
      text-decoration: none;
    }
  }

  .donate {
    background: $white;

    p {
      color: $black;
    }
  }

  .button {
    text-transform: uppercase;

    a {
      background-image: url('http://res.comms.cancerresearchuk.org/res/cancerr_mkt_prod1/su2c-arrow-white.png');
      background-color: $su2c-orange;
      background-repeat: no-repeat;
      background-position: right 8px center;

      border-radius: 0;
    }

    &.small a {
      background-image: none;
    }
  }
}

.hide-for-large-FIX {
  display: none;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0;
  @media only screen and (max-width: 600px) {
    display: block !important;
    width: auto !important;
    overflow: visible !important;
    max-height: none !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }
}

table.menu th.menu-item table.button a {
  color: $white;
}

table.button {
  &,
  &.secondary {
    table td a,
    table td a:visited {
      color: $white;
    }
  }
  &.small {
    table td {
      padding: 0;
    }
  }
  &.tiny {
    table td {
      padding: 0;
    }
  }
}

center {
  min-width: 100% !important;
}

table.callout {
  margin-top: 0;
  margin-right: $global-margin;
  margin-bottom: 0;
  margin-left: $global-margin;
  @at-root .cruk-rfl & {
    .callout-inner {
      border-color: transparent;
      border-radius: $global-radius;
    }
  }
  @at-root .su2c {
    .callout-inner {
      border-color: $cruk-white;
    }
  }
}

table.row.collapse {
  th.columns {
    padding-bottom: 0;
  }
}

.panel {
  background: $secondary-color;
  color: $white;
  border: none;
  border-radius: 0;
  .wrapper-inner {
    padding: $global-padding 0 0;
  }
}

// Preheader block
// ------------------------------------
.preheader {
  background: $light-gray;
  .container {
    background: $light-gray;
  }
  p {
    font-size: 12px;
    color: $medium-gray;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    a {
      color: $cruk-black;
      text-decoration: underline;
    }
  }
  .wrapper-inner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

// Header block
// ------------------------------------
.header {
  h3 {
    font-size: 10px;
    color: $dark-gray;
    margin-bottom: 4px;
  }
  .wrapper-inner {
    padding-left: $global-padding*2;
    padding-right: $global-padding*2;
    @at-root .cruk-rfl & {
      border-color: transparent;
      border-radius: 3px;
    }
  }
  @at-root .cruk-rfl & {
    background: $cruk-white;
    border-radius: $global-radius $global-radius 0 0;
    .wrapper-inner {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
// Main message block
// ------------------------------------
.hero {
  background: $secondary-color;
  h1,
  h2,
  h3,
  p {
    color: $white;
  }
  @at-root .cruk-rfl & {
    background: $white;
    h1,
    h2,
    h3,
    p {
      color: $global-font-color !important;
    }
  }
  @at-root .su2c & {
    background: $white;
    h1,
    h2,
    h3,
    p {
      color: $black !important;
    }
  }
}

.hero-link {
  .wrapper-inner {
    padding: 0 10px 20px;
  }
}
.hero-curve {
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

// Events block
// ------------------------------------
.events {

  .wrapper-inner {
    padding-left: $global-padding;
    padding-right: $global-padding;
  }

  h2 {
    margin: 0 !important;
  }

  .event-row {
    border-bottom: 1px solid $lightish-gray;
  }

  .event-calendar {
    padding-bottom: $global-gutter/2;
    padding-top: $global-gutter/2;
    width: 45px;
  }

  .event-calendar-wrapper {
    background: $secondary-color;
    border-radius: $global-radius;
    width: 45px;
    .wrapper-inner {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .event-day,
  .event-month {
    color: $white;
    display: block;
    line-height: 1;
    text-align: center;
  }

  .event-day {
    font-size: 17px;
    font-weight: 700;
  }

  .event-month {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }

  .event-info {
    color: $dark-gray;
    padding-left: $global-padding;
    padding-top: $global-gutter/2;
    text-transform: uppercase;
    p {
      color: $dark-gray;
    }
    a, p {
      font-weight: 700;
    }
  }

  .events-cta {
    th {
      padding-bottom: $global-gutter/2;
      padding-top: $global-gutter/2;
    }
    table.button {
      margin: 0;
    }
  }

}

// Donate block
// ------------------------------------
.donate {
  p {
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    margin: 0 !important;

    span {
      display: block;

      @media screen and (max-width: $global-breakpoint) {
        text-align: center;
      }
    }
  }

  .button {
    margin-top: 0;
  }
}

// Story block
// ------------------------------------
.story {
  margin: 0;
}

.stories {
  h2,
  p {
    text-align: left;
  }
}

// Fundraise
// ------------------------------------

// Shop block
// ------------------------------------
.shop-item {
  margin: 0;
}

.red {
  color: red;
}

// Transactional content block
// ------------------------------------
.transactional-content {
  .callout {
    margin-left: $global-margin;
    margin-right: $global-margin;
    @media only screen and (min-width: $global-breakpoint) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// Social media icons block
// ------------------------------------
.social {
  background: $lightish-gray;
  border-bottom: 2px solid $white;
}

// Footer blocks
// ------------------------------------

.affiliates {
  background: $light-gray;
  border-bottom: 2px solid $white;
  .wrapper-inner {
    padding: 20px;
  }
  h3 {
    color: $dark-gray;
    font-size: 10px;
    margin-top: 0;
    margin-left: 4px;
  }
}

.footer {
  background: $lightish-gray;
  a {
    color: $cruk-black;
    text-decoration: underline;
  }
  .wrapper-inner {
    padding: 20px;
  }
  .container {
    background: transparent;
  }
}
