// General styles

* {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h1,
h2,
h3 {
  margin-top: .5em;
  text-transform: uppercase;
  color: $primary-color;
  font-weight: $header-font-weight;
}

.button {
  &.secondary {
    a {
      color: $secondary-color !important;
      border: 2px solid $secondary-color !important;
      outline: 2px solid $white !important;
      background-color: $white !important;
    }
  }

  .button-facebook {
    a {
      padding-left: 50px !important;
      color: $white !important;
      border: 2px solid $facebook-blue !important;
      outline: 2px solid $white !important;
      background: url('/assets/img/facebook-icon.png') 0 -2px no-repeat !important;
      background-color: $facebook-blue !important;
    }
  }
}

center {
  min-width: 100% !important;
}

.panel {
  margin: 0 $global-gutter $global-gutter;
  padding: $global-gutter 0;
  border: 1px solid $lightish-gray;
  border-radius: 3px;
}

// Top message
.top-message {
  padding: 6px 0;
  color: $black;
  background-color: $light-gray;
}

// Main messsage
.message {
  .message-body {
    padding: 20px;
    background-color: $primary-color;

    h1,
    h2,
    h3,
    p {
      color: $white;
    }
  }

  .message-link {
    padding: 10px 10px 30px;
    background: url('/assets/img/curve.png') 50% 0 no-repeat;
  }
}

// Events
.events {
  h2 {
    margin-top: 0;
    margin-bottom: 14px;
  }

  .button {
    margin-top: 20px;
  }

  .event {
    border-bottom: 1px solid $lightish-gray;
  }

  .event-calendar {
    padding: 25px 0 15px;
    background: url('/assets/img/calendar-icon.png') 50% 10px no-repeat;
  }

  .event-day {
    display: block;
    text-align: center;
    color: $white;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1;
  }

  .event-month {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: small;
    font-weight: 500;
    line-height: 1;
  }

  .event-info {
    padding: 10px 10% 0 10px;
    background: url('/assets/img/chevron.png') 95% 50% no-repeat;
  }

  .event-name {
    display: block;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 700;
  }

  .event-date {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }
}

// Donate
.donate {
  padding: 20px 20px 0;
  background-color: $primary-color;

  p {
    text-transform: uppercase;
    color: $white;
    font-weight: 700;

    span {
      display: block;
    }
  }
}

// Stories
.story {
  margin: 0;
}

// Fundraise

// Shop
.shop-item {
  margin: 0;
}

// Social media icons
.social {
  padding: 10px 0;
  background-color: $lightish-gray;
}

// Footer
.partner,
.sponsors,
.supporters,
.footer {
  margin-top: -16px;
  padding: 20px;
  border-bottom: 2px solid $white;
  background-color: $light-gray;
}
