// General styles
// ------------------------------------
* {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h1,
h2,
h3 {
  margin-top: .5em;
  text-transform: uppercase;
  color: $cruk-black;
  font-weight: $header-font-weight;
}

.cruk-rfl {
  h1,
  h2,
  h3 {
    color: $cruk-magenta;
  }
}

table.menu th.menu-item table.button a {
  color: $white;
}

table.button {
  &,
  &.secondary {
    table td a,
    table td a:visited {
      color: $white;
    }
  }
  &.small {
    table td {
      padding: 0;
    }
  }
  &.tiny {
    table td {
      padding: 0;
    }
  }
}

center {
  min-width: 100% !important;
}

table.callout {
  margin-top: 0;
  margin-right: $global-margin;
  margin-bottom: 0;
  margin-left: $global-margin;
}

table.row.collapse {
  th.columns {
    padding-bottom: 0;
  }
}

.panel {
  background-color: $secondary-color;
  color: $white;
  border: none;
  border-radius: 0;
  .wrapper-inner {
    padding: $global-padding 0 0;
  }
}

// Preheader block
// ------------------------------------
.preheader {
  background-color: $light-gray;
  .container {
    background-color: $light-gray;
  }
  p {
    font-size: 12px;
    color: $medium-gray;
    margin-bottom: 0;
    a {
      color: #333333;
      text-decoration: underline;
    }
  }
  .wrapper-inner {
    padding: 6px 0;
  }
}

// Header block
// ------------------------------------

// Main message block
// ------------------------------------
.hero {
  background-color: $secondary-color;
  h1,
  h2,
  h3,
  p {
    color: $white;
  }
}

.hero-link {
  .wrapper-inner {
    padding: 0 10px 20px;
  }
}
.hero-curve {
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

// Events block
// ------------------------------------
.events {
  padding-left: $global-padding;
  padding-right: $global-padding;

  h2 {
    margin: 0 !important;
  }

  .event-row {
    border-bottom: 1px solid $lightish-gray;
  }

  .event-calendar {
    padding-bottom: $global-gutter/2;
    padding-top: $global-gutter/2;
    width: 45px;
  }

  .event-calendar-wrapper {
    background-color: $secondary-color;
    border-radius: $global-radius;
    width: 45px;
    .wrapper-inner {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .event-day,
  .event-month {
    color: $white;
    display: block;
    line-height: 1;
    text-align: center;
  }

  .event-day {
    font-size: 17px;
    font-weight: 700;
  }

  .event-month {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }

  .event-info {
    color: $dark-gray;
    padding-left: $global-padding;
    padding-top: $global-gutter/2;
    text-transform: uppercase;
    p {
      color: $dark-gray;
    }
    a, p {
      font-weight: 700;
    }
  }

  .events-cta {
    th {
      padding-bottom: $global-gutter/2;
      padding-top: $global-gutter/2;
    }
    table.button {
      margin: 0;
    }
  }

}

// Donate block
// ------------------------------------
.donate {
  p {
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    margin: 0 !important;

    span {
      display: block;

      @media screen and (max-width: $global-breakpoint) {
        text-align: center;
      }
    }
  }

  .button {
    margin-top: 0;
  }
}

// Story block
// ------------------------------------
.story {
  margin: 0;
}

.stories {
  h2,
  p {
    text-align: left;
  }
}

// Fundraise
// ------------------------------------

// Shop block
// ------------------------------------
.shop-item {
  margin: 0;
}

.red {
  color: red;
}

// Transactional content block
// ------------------------------------
.transactional-content {
  .callout {
    margin-left: $global-margin;
    margin-right: $global-margin;
    @media only screen and (min-width: $global-breakpoint) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// Social media icons block
// ------------------------------------
.social {
  background-color: $lightish-gray;
}

// Footer blocks
// ------------------------------------
.partner,
.sponsors,
.supporters {
  background-color: $light-gray;
  h3 {
    font-size: 14px;
    color: #666666;
  }
}

.partner,
.sponsors,
.supporters,
.footer {
  border-bottom: 2px solid $white;
  .wrapper-inner {
    padding: 20px;
  }
}

.partner {
  h3 {
    margin-top: 0;
  }
}

.footer {
  background-color: $lightish-gray;
  a {
    color: #333333;
    text-decoration: underline;
  }
}
