<!--  BLOCK START: SOCIAL -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="social">
      <center>
        <menu>
          <item href="https://www.facebook.com/cancerresearchuk">
            <img alt="Facebook" border="0" src="http://res.comms.cancerresearchuk.org/res/cancerr_mkt_prod1/facebook-icon.png" style="border: 0; display: block;" width="41" height="40" />
          </item>
          <item href="https://twitter.com/CR_UK">
            <img title="Twitter" border="0" src="http://res.comms.cancerresearchuk.org/res/cancerr_mkt_prod1/twitter-icon.png" style="border: 0; display: block;" width="41" height="40" />
          </item>
          <item href="https://www.instagram.com/cr_uk/?hl=en">
            <img title="Instagram" border="0" src="http://res.comms.cancerresearchuk.org/res/cancerr_mkt_prod1/instagram-icon.png" style="border: 0; display: block;" width="40" height="40" />
          </item>
          <item href="https://www.youtube.com/user/cancerresearchuk">
            <img title="YouTube" border="0" src="http://res.comms.cancerresearchuk.org/res/cancerr_mkt_prod1/youtube-icon.png" style="border: 0; display: block;" width="41" height="40" />
          </item>
        </menu>
      </center>
    </wrapper>
  </columns>
</row>
<!-- BLOCK END: SOCIAL -->
