<!-- BLOCK START: AFFILIATES -->

<!-- ROW START: SPONSORS -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="affiliates" align="center">
      <h3 class="text-center">Our Sponsors</h3>
      <center>
        <img style="display: inline-block; padding: 0 10px; margin-top: 5px;" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/logo-hyundai.png" width="120" height="24"/>
        <img style="display: inline-block; padding: 0 10px; margin-top: 5px;" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/logo-scottishpower.png" width="107" height="24"/>
        <img style="display: inline-block; padding: 0 10px; margin-top: 5px;" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/logo-whsmith.png" width="141" height="24"/>
      </center>
    </wrapper>
  </columns>
</row>
<!-- ROW END: SPONSORS -->

<!-- ROW START: SUPPORTERS -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="affiliates">
      <h3 class="text-center">Supported by</h3>
      <center>
        <img style="display: inline-block; padding: 0 10px; margin-top: 5px;" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/logo-zizzi.png" width="161" height="50"/>
      </center>
    </wrapper>
  </columns>
</row>
<!-- ROW END: SUPPORTERS -->

<!-- BLOCK END: AFFILIATES -->
