<!-- BLOCK START: AFFILIATES -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="affiliates">
      <h3 class="text-center">Sponsored by</h3>
      <center><img border="0" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/logo-wh.png" style="border: 0; display: block;" width="215" height="80" /></center>
    </wrapper>
  </columns>
</row>
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="affiliates">
      <h3 class="text-center">In association with</h3>
      <center><img border="0" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/logo-pfa.png" style="border: 0; display: block;" width="100" height="100" /></center>
    </wrapper>
  </columns>
</row>
<!-- BLOCK END: AFFILIATES -->
