<!-- BLOCK START: PARTNER -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="affiliates">
      <h3 class="text-center">Our Partner</h3>
      <center><img border="0" src="http://www.movable-ink-5508.com/p/rp/073c73b2fa81b407.png" style="border: 0; display: block;" width="100" height="29" /></center>
    </wrapper>
  </columns>
</row>
<!-- BLOCK END: PARTNER -->

<!-- BLOCK START: SPONSORS -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="affiliates">
      <h3 class="text-center">Our Sponsors</h3>
      <center>
        <img border="0" src="http://www.movable-ink-5508.com/p/rp/e2637b6ec58ba85c.png" style="border: 0; display: block;" width="107" height="24" />
        <img border="0" src="http://www.movable-ink-5508.com/p/rp/95536c10b9522ba3.png" style="border: 0; display: block;" width="85" height="30" />
      </center>
    </wrapper>
  </columns>
</row>
<!-- BLOCK END: SPONSORS -->

<!-- BLOCK START: SUPPORTERS -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="affiliates">
      <h3 class="text-center">Supported by</h3>
      <center>
        <img border="0" src="http://www.movable-ink-5508.com/p/rp/f1abb30b1dd6d979.png" style="border: 0; display: block;" width="43" height="24" />
      <center>
    </wrapper>
  </columns>
</row>
<!-- BLOCK END: SPONSORS -->
