<!-- BLOCK START: AFFILIATES -->
<container>
  <row class="collapse nospacer">
    <columns small="6" large="12">
      <wrapper class="partner">
        <h3 class="text-center">Our Sponsor</h3>
        <center><img style="display: inline-block; padding: 0 5px;" src="http://cancerresearchuk-mkt-stage1-res.campaign.adobe.com/res/cancerr_mkt_stage1/908cfa85237a4bd0f1bfe08e5b95c2e9.png" width="107" height="24"/></center>
      </wrapper>
    </columns>
    <columns small="6" large="12">
      <wrapper class="partner">
        <h3 class="text-center">Supported by</h3>
        <center><img style="display: inline-block; padding: 0 5px;" src="http://cancerresearchuk-mkt-stage1-res.campaign.adobe.com/res/cancerr_mkt_stage1/039c4c3c0f4f3761413a8edf966424ba.png" width="67" height="24"/></center>
      </wrapper>
    </columns>
  </row>
</container>
<!-- BLOCK END: AFFILIATES -->
