<!-- FOOTER BLOCK START -->
<container>
  <row class="collapse">
    <columns small="12" large="12">
      <wrapper class="footer">
        <p><small><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/fundraising-standards-icon.png" align="left" hspace="10" vspace="0"/>You are receiving this email as a supporter of Race for Life. If you no longer wish to be part of this mailing list, please <a href="#">unsubscribe</a></small></p>
        <p><small>If you do not wish to receive any eails about Cancer Research UK activities in the future, please <a href="#">unsubscribe here</a>. Please note that if you currently receive any other information from Cancer Research UK by email, you will no longer do so if you unsubscribe.</small></p>
        <p><small>This email is from Cancer Research UK. Ourwebsite is at www.cancerresearchuk.org. Our supporters are at the heart of everything we achieve at Cancer Research UK. To read our Fundraising Promise <a href="#">click here</a>.</small></p>
        <p><small>We are a registered charity in England and Wales (1089464), Scotland (SC041666) and the Isle of Man (1103). Our registered address is: Cancer Research UK, Angel Building, 407 St John Street, London, EC1V4AD.</small></p>
        <p><small>For Race for Life queries please call 0300 123 0770. Please note that you cannot reply directly to this email, emails are not monitored and your query will not be answered.</small></p>
      </wrapper>
    </columns>
  </row>
</container>
<!-- FOOTER BLOCK END -->
