<!-- BLOCK START: CONTENT -->
<spacer size="14">
<container class="transactional-content">
  <callout>
    <row>
      <columns>
         <h2>adobe.intro</h2>
         <spacer size="10"></spacer>
         <p>
         adobe.eventDetails
         </p>
         <p>
         adobe.registrationDetails
         </p>
         <spacer size="5"></spacer>
         <p>
           Please note that this fee is non-refundable unless the event is cancelled or the time/date/venue changes significantly and you're no longer able to attend.
         </p>
         <p>
           Remember to keep an eye out for future emails containing information about your event.
         </p>
         <spacer size="5"></spacer>
         <p>
           If you have any questions please visit <a href="http://raceforlife.cancerresearchuk.org/index.html" title="The Race for Life Website">our website</a> or call 0330 123 0770.
         </p>
         <spacer size="5"></spacer>
         <p>
           Thanks,
         </p>
         <p>
           <strong>The Race for Life Team</strong>
         </p>
         <spacer size="10"></spacer>
      </columns>
    </row>
  </callout>
</container>
<!-- BLOCK END: CONTENT -->
<spacer size="20">
