
<!-- BLOCK START: DOTS LETTER -->
<container>
  <callout>
    <row>
      <columns small="12" large="12">

        <!-------------------------------------->
        <!-- LETTER CONTENT: Edit below here  -->
        <!-------------------------------------->

        <h2 class="text-center">YOUR DONATION DETAILS</h2>

        <p>Donation amount: £<!-- <%= rtEvent.ctx.donationAmount %>--></P>
        
        <!-- <% if ( rtEvent.ctx.directDebit == "1" ) { %>-->
          <p>Frequency: <!-- <%= rtEvent.ctx.directDebitFrequency %>--></p>
          <p>Collection date: <!-- <%= rtEvent.ctx.directDebitCollectionDate %>--></p>
        <!-- <% } %>-->

        <p>Donation reference number: <!-- <%= rtEvent.ctx.referenceNumber %>--></p>
        
        <!-- <% if ( rtEvent.ctx.directDebit == "1" ) { %>-->
          <h2>THE DIRECT DEBIT GUARANTEE</h2>
          <p>
            <img src="http://res.comms.cancerresearchuk.org/res/cancerr_mkt_prod1/direct-debit.png"
              alt="Direct Debit logo" width="93" height="30"
            >
          </p>
          <p>
            This Guarantee is offered by all banks and building societies that accept instructions to pay Direct 
            Debits.
          </p>
          <p>
            If there are any changes to the amount, date or frequency of your Direct Debit Cancer Research UK will 
            notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request 
            Cancer Research UK to collect a payment, confirmation of the amount and date will be given to you at the 
            time of the request.
          </p>
          <p>
            If an error is made in the payment of your Direct Debit by Cancer Research UK or your bank or building 
            society you are entitled to a full and immediate refund of the amount paid from your bank or building 
            society.
          </p>
          <p>
            If you receive a refund you are not entitled to, you must pay it back when Cancer Research UK asks you to.
          </p>
          <p>
            You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written 
            confirmation may also be required. Please also notify us.
          </p>
        <!-- <% } %>-->

        <!-- <% if ( rtEvent.ctx.giftAidAdded == "Yes" ) { %>-->
          <h2>GIFT AID</h2>
          <p>
            <img alt="Gift Aid logo" width="78" height="30"
              src="http://res.comms.cancerresearchuk.org/res/cancerr_mkt_prod1/giftaid.png"
            >
          </p>
          <p>
            Thank you for agreeing to allow each and every one of your gifts made to Cancer Research UK to be treated 
            as Gift Aid donations.
          </p>
          <p>
            This enables Cancer Research UK to reclaim the tax back on any donations you have made to Cancer Research 
            UK in the last four tax years prior to this year and all future donations until we are notified otherwise. 
            This means each gift you make will be worth 25% more to us, at no extra cost to you. Cancer Research UK 
            will claim 25p for every £1 you donate.
          </p>
          <p>
            There are a few important points regarding your Gift Aid donations:
          </p>
          <ul>
            <li>
              You must have paid an amount of Income Tax/Capital Gains Tax at least equal to the value of the tax 
              claimed on all your donations in that tax year. If you do not it is your responsibility to pay any 
              difference. 
            </li>
            <li>
              You may withdraw your permission for Cancer Research UK to claim Gift Aid on your donations at any time. 
              Please keep us informed of any changes to your tax status or personal details (including your home 
              address).
            </li>
          </ul>
          <p>
            Cancer Research UK raised over £34m from Gift Aid in the last tax year. This could allow Cancer Research 
            UK to run our Clinical Trials Unit for 15 years.
          </p>
          <p>
            This shows that allowing us to claim Gift Aid on your donations really does make a difference. If you have 
            any queries concerning the Gift Aid scheme or the work of Cancer Research UK, please do not hesitate to 
            contact our Supporter Services team on 0300 123 1022 or email
            <a href="mailto:supporter.services@cancer.org.uk">supporter.services@cancer.org.uk</a>.
          </p>
        <!-- <% } %>-->

        <!-------------------------------------->
        <!-- LETTER CONTENT: Edit above here  -->
        <!-------------------------------------->

      </columns>
    </row>
  </callout>
</container>
<spacer />
<!-- BLOCK END: DOTS LETTER -->