<row>
  <columns small="12" large="12">
      <div class="events panel">
        <h2 class="text-center">Upcoming events</h2>
        <div class="event">
          <row>
            <columns small="2" large="2">
              <div class="event-calendar">
                <span class="event-day">21</span>
                <span class="event-month">Jul</span>
              </div>
            </columns>
            <columns small="10" large="10">
              <div class="event-info">
                <a href="http://example.com">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">10:00am</span>
                  <span class="event-date">21 July</span>
                </a>
              </div>
            </columns>
          </row>
        </div>
        <div class="event">
          <row>
            <columns small="2" large="2">
              <div class="event-calendar">
                <span class="event-day">09</span>
                <span class="event-month">Aug</span>
              </div>
            </columns>
            <columns small="10" large="10">
              <div class="event-info">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">09 August</span>
              </div>
            </columns>
          </row>
        </div>
        <div class="event">
          <row >
            <columns small="2" large="2">
              <div class="event-calendar">
                <span class="event-day">26</span>
                <span class="event-month">Aug</span>
              </div>
            </columns>
            <columns small="10" large="10">
              <div class="event-info">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">26 August</span>
              </div>
            </columns>
          </row>
        </div>
        <div class="event">
          <row>
            <columns small="2" large="2">
              <div class="event-calendar">
                <span class="event-day">21</span>
                <span class="event-month">Sep</span>
              </div>
            </columns>
            <columns small="10" large="10">
              <div class="event-info">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">21 September</span>
              </div>
            </columns>
          </row>
        </div>
        <div class="event">
          <row>
            <columns small="2" large="2">
              <div class="event-calendar">
                <span class="event-day">15</span>
                <span class="event-month">Oct</span>
              </div>
            </columns>
            <columns small="10" large="10">
              <div class="event-info">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">15 October</span>
              </div>
            </columns>
          </row>
          <center><button class="secondary radius small-expanded" href="#">View all events</button></center>
        </div>
      </div>
  </columns>
</row>
