<!-- EVENTS BLOCK START -->
<container class="events">
  <callout>
    <row class="events">
      <columns small="12" large="12">

        <h2 class="text-center">Upcoming events</h2>
        <!-- EVENTS START -->
        <table>
          <tbody>

            <!-- EVENT START -->
            <tr class="event">
              <td class="event-calendar">
                <a href="http://example.com">
                  <span class="event-day">21</span>
                  <span class="event-month">Jul</span>
                </a>
              </td>
              <td class="event-info">
                <a href="http://example.com">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-time">10:00am</span>
                  <span class="event-date">21 July 2016</span>
                </a>
              </td>
            </tr>
            <!-- EVENT END -->

            <!-- EVENT START -->
            <tr class="event">
              <td class="event-calendar">
                <a href="http://example.com">
                  <span class="event-day">09</span>
                  <span class="event-month">Aug</span>
                </a>
              </td>
              <td class="event-info">
                <a href="http://example.com">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">09 August 2016</span>
                </a>
              </td>
            </tr>
            <!-- EVENT END -->

            <!-- EVENT START -->
            <tr class="event">
              <td class="event-calendar">
                <a href="http://example.com">
                  <span class="event-day">26</span>
                  <span class="event-month">Aug</span>
                </a>
              </td>
              <td class="event-info">
                <a href="http://example.com">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">26 August 2016</span>
                </a>
              </td>
            </tr>
            <!-- EVENT END -->

            <!-- EVENT START -->
            <tr class="event">
              <td class="event-calendar">
                <a href="http://example.com">
                  <span class="event-day">21</span>
                  <span class="event-month">Sep</span>
                </a>
              </td>
              <td class="event-info">
                <a href="http://example.com">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">21 September 2016</span>
                </a>
              </td>
            </tr>
            <!-- EVENT END -->

            <!-- EVENT START -->
            <tr class="event">
              <td class="event-calendar">
                <a href="http://example.com">
                  <span class="event-day">15</span>
                  <span class="event-month">Oct</span>
                </a>
              </td>
              <td class="event-info">
                <a href="http://example.com">
                  <span class="event-name">Relay for Life Ascot</span>
                  <span class="event-date">15 October</span>
                </a>
              </td>
            </tr>
            <!-- EVENT END -->

          </tbody>
        </table>
        <center><button class="secondary radius small-expanded" href="#">View all events</button></center>

      </columns>
    </row>
  </callout>
</container>
<!-- EVENTS BLOCK END -->
