<!-- BLOCK START: EVENTS -->
<container>
  <callout class="events">

      <row class="event-row">
        <columns small="12" large="12">
          <h2 class="text-center">Upcoming events</h2>
        </columns>
      </row>

      <!-- BLOCK ROW START: EVENT -->
      <row class="event-row collapse">
        <td width="45px" class="event-calendar">
          <wrapper class="event-calendar-wrapper">
            <div class="event-day">21</div>
            <div class="event-month">Jul</div>
          </wrapper>
        </td>
        <td class="event-info">
          <p>
            <a href="http://example.com">Relay for Life Ascot</a>
            <br>10:00am
            <br>21 July 2016
          </p>
        </td>
      </row>
      <!-- BLOCK ROW END: EVENT -->

      <!-- BLOCK ROW START: EVENT -->
      <row class="event-row collapse">
        <td width="45px" class="event-calendar">
          <wrapper class="event-calendar-wrapper">
            <div class="event-day">09</div>
            <div class="event-month">Aug</div>
          </wrapper>
        </td>
        <td class="event-info">
          <p>
            <a href="http://example.com">Relay for Life Ascot</a>
            <br>09 August 2016
          </p>
        </td>
      </row>
      <!-- BLOCK ROW END: EVENT -->

      <!-- BLOCK ROW START: EVENT -->
      <row class="event-row collapse">
        <td width="45px" class="event-calendar">
          <wrapper class="event-calendar-wrapper">
            <div class="event-day">26</div>
            <div class="event-month">Aug</div>
          </wrapper>
        </td>
        <td class="event-info">
          <p>
            <a href="http://example.com">Relay for Life Ascot</a>
            <br>10:00am<br>26 August 2016
          </p>
        </td>
      </row>
      <!-- BLOCK ROW END: EVENT -->

      <!-- BLOCK ROW START: EVENT -->
      <row class="event-row collapse">
        <td width="45px" class="event-calendar">
          <wrapper class="event-calendar-wrapper">
            <div class="event-day">21</div>
            <div class="event-month">Sep</div>
          </wrapper>
        </td>
        <td class="event-info">
          <p>
            <a href="http://example.com">Relay for Life Ascot</a>
            <br>21 September 2016
          </p>
        </td>
      </row>
      <!-- BLOCK ROW END: EVENT -->

      <!-- BLOCK ROW START: EVENT -->
      <row class="event-row collapse">
        <td width="45px" class="event-calendar">
          <wrapper class="event-calendar-wrapper">
            <div class="event-day">15</div>
            <div class="event-month">Oct</div>
          </wrapper>
        </td>
        <td class="event-info">
          <p>
            <a href="http://example.com">Relay for Life Ascot</a>
            <br>15 October 2016
          </p>
        </td>
      </row>
      <!-- BLOCK ROW END: EVENT -->

      <row class="events-cta">
        <columns>
          <center><button class="radius" href="#">View all events</button></center>
        </columns>
      </row>

  </callout>
</container>
<!-- BLOCK END:EVENTS -->
<spacer size="20">
