<!-- BLOCK START: FOOTER -->
<wrapper class="footer">
  <container style="background: transparent">
    <row class="collapse">
      <columns small="12" large="12">
          <p><small><img src="http://wpm.ccmp.eu/wpm/458/ContentUploads/fundraising-regulator-logo.png" align="left" hspace="0" vspace="0" width="167" height="63" />You have received this email as a result of a recent donation, registration or specific request.</small></p>
          <p><small>Our supporters are at the heart of everything we achieve at Cancer Research UK.<br><a href="http://www.cancerresearchuk.org/about-us/our-promise">Read our Fundraising Promise.</a></small></p>
          <p><small>This email is from <a href="http://www.cancerresearchuk.org">Cancer Research UK</a>. Cancer Research UK is a registered charity in England and Wales (1089464), Scotland (SC041666) and the Isle of Man (1103). A company limited by guarantee. Registered company in England and Wales (4325234) and the Isle of Man (5713F). Registered address: Angel Building, 407 St John Street, London EC1V 4AD.</small></p>
          <p><small>For Race for Life queries please call 0300 123 0770. Please note that you cannot reply directly to this email, emails are not monitored and your query will not be answered.</small></p>
      </columns>
    </row>
  </container>
</wrapper>
<!-- BLOCK END: FOOTER -->
