<!-- BLOCK START: FOOTER -->
<container>
  <row class="collapse">
    <columns small="12" large="12">
      <wrapper class="footer">
        <p><small><img src="http://cancerresearchuk-mkt-stage1-res.campaign.adobe.com/res/cancerr_mkt_stage1/f37d8a67788ca8783a2f23faf9e93206.png" align="left" hspace="10" vspace="5" width="50" height="52" />You have received this email as a result of a recent donation, registration or specific request.</small></p>
        <p><small>Our supporters are at the heart of everything we achieve at Cancer Research UK.<br><a href="http://www.cancerresearchuk.org/about-us/our-promise">Read our Fundraising Promise.</a></small></p>
        <p><small>This email is from <a href="http://www.cancerresearchuk.org">Cancer Research UK</a>. Cancer Research UK is a registered charity in England and Wales (1089464), Scotland (SC041666) and the Isle of Man (1103). A company limited by guarantee. Registered company in England and Wales (4325234) and the Isle of Man (5713F). Registered address: Angel Building, 407 St John Street, London EC1V 4AD.</small></p>
      </wrapper>
    </columns>
  </row>
</container>
<!-- BLOCK END: FOOTER -->
