<!-- BLOCK START: FOOTER  -->
<container>
  <row class="collapse">
    <columns small="12" large="12">
      <wrapper class="footer">
        <p><small><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/fundraising-standards-icon.png" align="left" hspace="10" vspace="0" width="50" height="52" />{{#if unsubscribe}}{{unsubscribe}}{{else}}If you do not wish to receive any emails about Cancer Research UK activities in the future, please <a href="#">unsubscribe here</a>.{{/if}} Please note that if you currently receive any other information from Cancer Research UK by email, you will no longer do so if you unsubscribe.</small></p>
        <p><small>Our supporters are at the heart of everything we achieve at Cancer Research UK.<br><a href="http://www.cancerresearchuk.org/about-us/our-promise">Read our Fundraising Promise.</a></small></p>
        <p><small>This email is from <a href="http://www.cancerresearchuk.org">Cancer Research UK</a>. Cancer Research UK is a registered charity in England and Wales (1089464), Scotland (SC041666) and the Isle of Man (1103). A company limited by guarantee. Registered company in England and Wales (4325234) and the Isle of Man (5713F). Registered address: Angel Building, 407 St John Street, London EC1V 4AD.</small></p>
      </wrapper>
    </columns>
  </row>
</container>
<!-- BLOCK END: FOOTER -->
<spacer size="20">
