<!-- FUNDRAISE BLOCK START -->
<container>
  <callout>
    <row class="fundraise">
      <columns small="12" large="12">

        <!-- FUNDRAISING STEP START -->
        <row>
          <columns class="fundraise-step">
            <center><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/create-icon.png"/></center>
            <h3 class="text-center">Create</h3>
            <p class="text-center">Creating your fundraising page helps your fundraising go further.</p>
          </columns>
        </row>
        <!-- FUNDRAISING STEP END -->

        <!-- FUNDRAISING STEP START -->
        <row>
          <columns class="fundraise-step">
            <center><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/customise-icon.png"/></center>
            <h3 class="text-center">Customise</h3>
            <p class="text-center">Add your story, pictures and even choose which research to support</p>
          </columns>
        </row>
        <!-- FUNDRAISING STEP END -->

        <!-- FUNDRAISING STEP START -->
        <row>
          <columns class="fundraise-step">
            <center><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/share-icon.png"/></center>
            <h3 class="text-center">Share</h3>
            <p class="text-center">Share your page so that your friends can donate directly to us online</p>
          </columns>
        </row>
        <!-- FUNDRAISING STEP END -->
        
      </columns>
    </row>
    <row>
      <columns>
        <center><button class="secondary radius small-expanded" href="#">Create fundraising page</button></center>
      </columns>
    </row>
  </callout>
</container>
<!-- FUNDRAISE BLOCK END -->
