<container>
  <div class="panel">
    <row>
      <columns small="12" large="12">
        <div class="fundraise">
          <div class="fundraise-step">
            <center><img src="/assets/img/create-icon.png"/></center>
            <h3 class="text-center">Create</h3>
            <p class="text-center">Creating your fundraising page helps your fundraising go further.</p>
          </div>
          <div class="fundraise-step">
            <center><img src="/assets/img/customise-icon.png"/></center>
            <h3 class="text-center">Customise</h3>
            <p class="text-center">Add your story, pictures and even choose which research to support</p>
          </div>
          <div class="fundraise-step">
            <center><img src="/assets/img/share-icon.png"/></center>
            <h3 class="text-center">Share</h3>
            <p class="text-center">Share your page so that your friends can donate directly to us online</p>
          </div>
        </div>
      </columns>
    </row>
  </div>
</container>
