<!-- BLOCK START: HEADER -->
<container class="header">
  <row class="collapse">
    <columns small="12" large="9">
      <wrapper>
        <img class="small-float-center float-left" src="http://wpm.ccmp.eu/wpm/458/ContentUploads/cruk-rfl-logo.jpg" width="158" height="52" />
      </wrapper>
    </columns>
    <columns small="12" large="3">
      <wrapper class="show-for-large">
        <h3 class="small-text-center text-left">Our Partner</h3>
        <img class="small-float-center float-left" src="http://wpm.ccmp.eu/wpm/458/ContentUploads/tesco-icon.png" style="border: 0;" width="100" height="29" />
      </wrapper>
    </columns>
  </row>
</container>
<!-- BLOCK END: HEADER -->
