<!-- HERO BLOCK -->
<container>
  <row class="collapse">
    <columns small="12" large="12">
      <wrapper class="hero-image">
        <center><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/nurse-header.jpg"/></center>
      </wrapper>
      <wrapper class="hero-body">
        <h1>How does it feel to go through cancer?</h1>
        <p><strong>Dear James,</strong></p>
        <p>Everyone's journey through cancer is different. From noticing the first signs, to telling friends and family, no two stories are the same.</p>
        <p>We've pulled together the memories and reflections of the people who know this the best. So you can see how people living with cancer are feeling right now. And how your donations help us support them every step of the way.</p>
        <p>Thank you for your support.</p>
        <p><strong>The Cancer Research UK team</strong></p>
      </wrapper>
      <wrapper class="hero-link">
        <center><button class="large radius" href="#">Find out more</button></center>
      </wrapper>
    </columns>
  </row>
</container>
<!-- /HERO BLOCK -->
