<row class="collapse">
  <columns small="12" large="12">
    <div class="message">
      <div class="message-image">
        <center><img src="/assets/img/nurse-header.jpg"/></center>
      </div>
      <div class="message-body">
        <div>
          <h1><!-- MAIN_MSG_HEADING -->How does it feel to go through cancer?<!-- /MAIN_MSG_HEADING --></h1>
          <!-- MAIN_MSG -->
          <p><strong>Dear James,</strong></p>
          <p>Everyone's journey through cancer is different. From noticing the first signs, to telling friends and family, no two stories are the same.</p>
          <p>We've pulled together the memories and reflections of the people who know this the best. So you can see how people living with cancer are feeling right now. And how your donations help us support them every step of the way.</p>
          <p>Thank you for your support.</p>
          <p><strong>The Cancer Research UK team</strong></p>
          <!-- /MAIN_MSG -->
        </div>
      </div>
      <div class="message-link">
        <center><button class="radius" href="#"><!-- MSG_LINK -->Find out more<!-- /MSG_LINK --></button></center>
      </div>
    </div>
  </columns>
</row>
