<!-- MAIN STORY BLOCK START -->
<container>
  <callout>

    <!-- STORY START -->
    <row>
      <columns>
        <div class="story">
          <div><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/hands-header.jpg"/></div>
          <h2 class="text-center">Patients are being let down</h2>
          <p class="text-center">Imagine you have been told you have cancer. And then being told you have over 8 weeks before treatment can start. After 2 years of missed NHS targets, real people are being left in limbo when it comes to waiting tmes.</p>
          <center><button class="secondary radius small-expanded" href="#">Read more</button></center>
        </div>
      </columns>
    </row>
    <!-- STORY END -->
    
  </callout>
</container>
<!-- MAIN STORY BLOCK END -->
