<!-- SECONDARY STORIES BLOCK START -->
<container>
  <callout class="stories">
    <row>
      <columns small="12" large="6">
        <div class="story">
          <div><img width="100%" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/baby-image.jpg"/></div>
          <h2 class="text-center">Cancer is happening right now</h2>
          <p class="text-center">Right now, Isla Grace is becoming a normal 2 year old again &ndash; a year after being treated for Ewing's Sarcoma.</p>
          <div style="height:0px;">&nbsp;</div>
          <center><button class="secondary radius expanded" href="#">Read more about Isla</button></center>
        </div>
      </columns>
      <columns small="12" large="6">
        <div class="story">
          <div><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/doctor-image.png"/></div>
          <h2 class="text-center">Talking about cancer is hard</h2>
          <p class="text-center">Our 'Talk Cancer' training gives volunteers and health workers the skills to talk to people about cancer. And it's already saving lives.</p>
          <div style="height:11px;">&nbsp;</div>
          <center><button class="secondary radius expanded" href="#">Learn more</button></center>
        </div>
      </columns>
    </row>
  </callout>
</container>
<!-- SECONDARY STORIES BLOCK END -->
