<!-- FULL WIDTH CONTENT (FACEBOOK) -->
<container>
  <div class="panel">
    <row>
      <columns small="12" large="12">
        <div class="facebook">
          <div><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/hands-header.jpg"/></div>
          <h2 class="text-center">Ridiculus Inceptos Quam</h2>
          <p class="text-center">Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <center><button class="button-facebook radius" href="#">Share on Facebook</button></center>
        </div>
      </columns>
    </row>
  </div>
</container>
<!-- /FULL WIDTH CONTENT BLOCK - FACEBOOK -->
