<!-- BLOCK START: SHARE -->
<container>
  <callout>

    <!-- BLOCK ROW START: STORY -->
    <row>
      <columns small="12" large="12">
        <wrapper class="facebook">
          <div><img border="0" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/hands-header.jpg" style="border: 0; display: block;" width="520" height="224" /></div>
          <h2 class="text-center">Ridiculus Inceptos Quam</h2>
          <p class="text-center">Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <spacer size="10">

          <!-- BUTTON START: FACEBOOK -->
            <center><a href="#"><img alt="Share on Facebook" src="http://wpm.ccmp.eu/wpm/458/ContentUploads/button-share-facebook.gif" width="260" height="40" /></a></center>
          <!-- BUTTON END: FACEBOOK -->

        </wrapper>
      </columns>
    </row>
    <!-- BLOCK ROW END: STORY -->

  </callout>
</container>
<!-- BLOCK END: SHARE -->
<spacer size="20">
