<row>
  <columns small="12" large="12">
    <div class="shop panel">
      <h2 class="text-center">Sportswear</h2>
        <row>
          <columns small="12" large="6">
            <div class="shop-item first">
              <div class="text-center"><img src="/assets/img/mens-black-fleece.jpg"/></div>
              <h3 class="text-center">Men's black<br/>fleece</h3>
              <p class="text-center"><span class="red">&pound;9.85</span> (was &pound;14.95)</p>
              <center><button class="radius secondary expanded" href="#">Buy now</button></center>
            </div>
          </columns>
          <columns small="12" large="6">
            <div class="shop-item last">
              <div class="text-center"><img src="/assets/img/womens-tshirt.jpg"/></div>
              <h3 class="text-center">Women's black sports t-shirt</h3>
              <p class="text-center"><span class="red">&pound;7.50</span> (was &pound;9.99)</p>
              <center><button class="radius secondary expanded" href="#">Buy now</button></center>
            </div>
          </columns>
        </row>
        <center><button class="radius" href="#">See all products</button></center>
    </div>
  </columns>
</row>
