<!--  BLOCK START: SOCIAL -->
<row class="collapse">
  <columns small="12" large="12">
    <wrapper class="social">
      <center>
        <menu>
          <item href="https://www.facebook.com/raceforlife/">
            <img title="Race for Life Facebook" border="0" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/facebook-icon.png" style="border: 0; display: block;" width="41" height="40" />
          </item>
          <item href="https://twitter.com/raceforlife?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <img title="Race for Life Twitter" border="0" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/twitter-icon.png" style="border: 0; display: block;" width="41" height="40" />
          </item>
          <item href="https://www.instagram.com/crukraceforlife/">
            <img title="Race for Life Instagram" border="0" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/instagram-icon.png" style="border: 0; display: block;" width="40" height="40" />
          </item>
          <item href="https://www.youtube.com/user/raceforlife/">
            <img title="Race for Life YouTube" border="0" src="{{#if globals.production}}{{baseURL}}{{else}}{{root}}assets/img{{/if}}/youtube-icon.png" style="border: 0; display: block;" width="41" height="40" />
          </item>
        </menu>
      </center>
    </wrapper>
  </columns>
</row>
<!-- BLOCK END: SOCIAL -->
