<!-- SOCIAL BLOCK START -->
<container>
  <row class="collapse">
    <columns small="12" large="12">
      <wrapper class="social">
        <center>
          <a href="https://www.facebook.com/cancerresearchuk"><img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/facebook-icon.png"/></a>
          <a href="https://twitter.com/CR_UK"><img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/twitter-icon.png"/></a>
          <a href="https://www.instagram.com/cr_uk/?hl=en"><img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/instagram-icon.png"/></a>
          <a href="https://www.youtube.com/user/cancerresearchuk"><img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/youtube-icon.png"/></a>
        </center>
      </wrapper>
    </columns>
  </row>
</container>
<!-- SOCIAL BLOCK START -->
