<container>
  <row class="collapse">
    <columns small="12" large="12">
      <div class="social">
        <center>
          <img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/facebook-icon.png"/>
          <img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/twitter-icon.png"/>
          <img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/instagram-icon.png"/>
          <img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/youtube-icon.png"/>
        </center>
      </div>
    </columns>
  </row>
</container>
