<!--  BLOCK START: SOCIAL -->
<container>
  <row class="collapse nospacer">
    <columns small="12" large="12">
      <wrapper class="social">
        <center>
          <menu>
            <item href="https://www.facebook.com/raceforlife/">
              <img title="Race for Life Facebook" border="0" src="http://www.movable-ink-5508.com/p/rp/cb8e7f5f7f1ac52c.png" style="border: 0; display: block;" width="41" height="40" />
            </item>
            <item href="https://twitter.com/raceforlife?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
              <img title="Race for Life Twitter" border="0" src="http://www.movable-ink-5508.com/p/rp/215f3d355b990fbd.png" style="border: 0; display: block;" width="41" height="40" />
            </item>
            <item href="https://www.instagram.com/crukraceforlife/">
              <img title="Race for Life Instagram" border="0" src="http://www.movable-ink-5508.com/p/rp/4cd9859dacf51964.png" style="border: 0; display: block;" width="40" height="40" />
            </item>
            <item href="https://www.youtube.com/user/raceforlife/">
              <img title="Race for Life YouTube" border="0" src="http://www.movable-ink-5508.com/p/rp/0866f63d1a3a6457.png" style="border: 0; display: block;" width="41" height="40" />
            </item>
          </menu>
        </center>
      </wrapper>
    </columns>
  </row>
</container>
<!-- BLOCK END: SOCIAL -->
