<row class="collapse">
  <columns small="12" large="12">
    <div class="social">
      <center>
        <img style="display: inline-block; padding: 0 5px;" src="/assets/img/facebook-icon.png"/>
        <img style="display: inline-block; padding: 0 5px;" src="/assets/img/twitter-icon.png"/>
        <img style="display: inline-block; padding: 0 5px;" src="/assets/img/instagram-icon.png"/>
        <img style="display: inline-block; padding: 0 5px;" src="/assets/img/youtube-icon.png"/>
      </center>
    </div>
  </columns>
</row>
