<!-- BLOCK START: SPONSORS -->
<container>
  <row class="collapse">
    <columns small="12" large="12">
      <wrapper class="sponsors">
        <h3 class="text-center">Our Sponsors</h3>
        <center>
          <img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/scottish-power-icon.png"/>
          <img style="display: inline-block; padding: 0 5px;" src="http://wpm.ccmp.eu/wpm/459/ContentUploads/aqua-pura.png"/>
        </center>
      </wrapper>
    </columns>
  </row>
</container>
<!-- BLOCK END: SPONSORS -->
