<!-- BLOCK START: 1 UP 2 COLUMN CAPTION IMAGE -->
<container>
  <callout class="stories">

    <!-- BLOCK ROW START: CONTENT -->
    <row>
      <columns small="12" large="6">
        <h2 class="text-center">Cancer is happening right now</h2>
        <p class="text-center">Right now, Isla Grace is becoming a normal 2 year old again &ndash; a year after being treated for Ewing's Sarcoma.</p>
        <div style="height:0px;">&nbsp;</div>
        <center><button class="secondary radius expanded" href="#">Read more about Isla</button></center>
      </columns>
      <columns small="12" large="6">
        <div><img src="http://wpm.ccmp.eu/wpm/459/ContentUploads/doctor-image.png"/></div>
      </columns>
    </row>
    <!-- BLOCK ROW END: CONTENT -->

  </callout>
</container>
<!-- BLOCK END: 1 UP 2 COLUMN CAPTION IMAGE -->
